<div class="hero-section container">
  <div class="row align-items-center min-vh-50">

    <!-- Left Content -->
    <div class="col-lg-6 hero-content">
      <div>
        <h1 class="hero-title">
          KOTHA VIGNESWARA
          <br>
          <span>VENKATA PHANENDRA GOKUL</span>
        </h1>

        <h2 class="hero-subtitle">
          Software Developer & Enterprise Frontend Engineer
        </h2>
      </div>

      <p class="hero-description">
        Results-driven Software Developer with 4.5+ years of experience in
        designing and developing responsive web applications using Angular,
        TypeScript, HTML, and CSS, along with building scalable enterprise
        platforms, GIS solutions, and interactive dashboards.
      </p>

      <div class="hero-actions">
        <button class="btn btn-primary custom-btn" (click)="scrollTo('projects')">
          View Projects
        </button>

        <button class="btn glass-btn" (click)="downloadResume()">
          Download Resume
        </button>

        <button class="btn glass-btn" (click)="scrollTo('contact')">
          Contact Me
        </button>
      </div>
    </div>

    <!-- Right Image -->
    <div class="col-lg-6">
      <div class="hero-image-wrapper">
        <!-- Glow -->
        <div class="hero-glow"></div>

        <div class="profile-container">
          <div class="profile-border">

            <div class="profile-image-wrapper">

              <img src="assets/profile.JPG" alt="Profile Photo" class="profile-image"
                onerror="this.style.display='none'; this.nextElementSibling.style.display='flex'">

              <!-- Fallback -->
              <div class="profile-fallback">
                <i class="fas fa-camera"></i>

                <span>
                  Add Photo
                  <small>src/assets/profile.JPG</small>
                </span>
              </div>

            </div>
          </div>

          <!-- Floating Circle -->
          <div class="floating-circle blue-circle"></div>

          <!-- Floating Circle -->
          <div class="floating-circle purple-circle"></div>

        </div>
      </div>
    </div>
  </div>
</div>